<!--START HERO-->
<section class="hero">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-4 is-offset-2" style="">
          <img id="visap24-lockup" src="{{ '/images/visap24-lockup.svg' | url }}" alt="IEEE VISAP 2024 Logo">
      </div>
      <div class="column is-3 is-offset-1" style="display: flex; align-items: flex-end">
        <div class="hero_message content">
          {{ intro | safe }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--END HERO-->