<!--START HERO-->
<section class="hero">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-8 is-offset-2">
          <img src="{{ '/images/visap24-lockup.svg' | url }}" alt="IEEE VISAP 2024 Logo">
      </div>
    </div>
  </div>
</section>
<!--END HERO-->