<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="IEEE VIS Arts Program (VISAP) 2024">
<meta property="og:type" content="website">
<meta property="og:url" content="https://visap.net/2024/">
<meta property="og:image" content="https://visap.net/2024/images/visap-thumbnail.jpg">
<meta property="og:description" content="Join VISAP at IEEE VIS to explore the intersection of art, design, and data visualization through innovative exhibitions and research.">
<meta property="og:site_name" content="VISAP 2024">
<link rel="icon" href="{{ '/images/favicon/favicon.ico' | url }}" sizes="32x32">
<link rel="icon" href="{{ '/images/favicon/favicon.ico' | url }}" sizes="16x16">
<link rel="apple-touch-icon" href="{{ '/images/favicon/apple-touch-icon.png' | url }}">
<link rel="manifest" href="{{ '/images/favicon/site.webmanifest' | url }}">
