<h2>Supporters</h2>
<p>VISAP 2024 is possible thanks to the support of:</p>
<div class="supporters">
<div><a class="nohover" href="https://camd.northeastern.edu/art-design/"><img src="{{ '/images/northeastern_camd.png' | url }}" style="max-width: 400px;" alt="Northeastern University Art + Design"></a></div>
<div><a class="nohover" href="https://com.miami.edu/"><img src="{{ '/images/univ_miami_comm.png' | url }}" style="max-width: 400px;" alt="University of Miami School of Communication"></a></div>
<div><a class="nohover" href="https://www.ut.edu/"><img src="{{ '/images/univ_tampa.png' | url }}" style="max-width: 400px;" alt="University of Tampa"></a></div>
</div>
