html {
    background-color: #1682E5;
}

body {
    font-family: reforma2018;
    background: linear-gradient(to bottom, #1682E5 0 ,#1682E5 60px, #FEEAFD 260px, #FEEAFD 100%);
    min-height: 100vh;
}

.content a {
   color: #F551EA;
}

.content a:hover {
    color: #FFFFFF;
    background-color: #F551EA;
    outline: 4px solid #F551EA;
}

hr {
    background-color: rgb(219,219,219);
    height: 1px;
}

.navbar.is-fixed-top {
  color: #FDDCFB;
  background-color: #1682E5;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #1682E5;
        box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
        padding: 0.5rem 0;
    }
}

a.navbar-item {
    color: #FDDCFB;
    background-color: #1682E5;
}

a.navbar-item:hover {
    color: #FDDCFB;
    background-color: #48195C;
}

.navbar-brand {
    font-family: ancho !important;
    font-weight: 200;
    color: #FDDCFB;
}

.navbar-brand a {
    color: #FDDCFB;
}

.navbar-brand a:hover {
    color: #FDDCFB;
    background-color: #48195C;
}

.navbar-burger span {
    background-color: #FDDCFB;
}

.hero {
    background: linear-gradient(0deg, #FEEAFD 0%, #1682E5 65%, #1682E5 100%);
}

.footer {
    background: linear-gradient(0deg, #A2CDF5 0%, #FEEAFD 100%);
}

.footer h4 {
    font-weight: bold;
}
