/* common.css */

html {
    background-color: rgb(230, 218, 218);
}

body {
    /* background-color: #ffe8e8; */
}

#visap24-lockup {
    max-width: 490px;
}    

.section {
    margin: 0 auto;
    max-width: 1400px;
}

hr {
    background-color: #999999;
    height: 1px;
}

.content h1, .content h2 {
    font-family: ancho;
    font-size: 1.875em;
    line-height: 2.25em;
    font-weight: 800;
    color: #471a5c;
}

.content h3, h3.title {
    font-family: ancho;
    font-size: 1.125em;
    line-height: 2.25em;
    font-weight: 200;
    color: #471a5c;
}

.content p {
    font-family: reforma1918;
    font-size: 18pt;
    line-height: 24pt;
    color: #471a5c;
}
