@font-face {
    font-family: 'reforma1969';
    src: url('fonts/reforma1969blanca.woff2') format('woff2'),
         url('fonts/reforma1969blanca.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'reforma1969';
    src: url('fonts/reforma1969blancaitalica.woff2') format('woff2'),
         url('fonts/reforma1969blancaitalica.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'reforma1969';
    src: url('fonts/reforma1969gris.woff2') format('woff2'),
         url('fonts/reforma1969gris.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'reforma1969';
    src: url('fonts/reforma1969grisitalica.woff2') format('woff2'),
         url('fonts/reforma1969grisitalica.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'reforma1969';
    src: url('fonts/reforma1969negra.woff2') format('woff2'),
         url('fonts/reforma1969negra.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'reforma1969';
    src: url('fonts/reforma1969negraitalica.woff2') format('woff2'),
         url('fonts/reforma1969negraitalica.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}