---
permalink: styles/bundle.css
---
{% include "../../node_modules/bulma/css/bulma.css" %}
{% include "./ancho.css" %}
{% include "./reforma1918.css" %}
{% include "./reforma1969.css" %}
{% include "./reforma2018.css" %}
{% include "./common.css" %}
{% include "./navbar.css" %}
{% include "./hero.css" %}
{% include "./contribution.css" %}
{% include "./footer.css" %}
