<!DOCTYPE html>
<html lang="en">
<head>
{% include "meta.njk" %}<title>{{title}}</title>
<title>{{title}}</title>
<link rel="stylesheet" href="{{ '/styles/bundle.css' | url}}">
</head>
<body class="has-navbar-fixed-top">
{% include "navbar.njk" %}
<section class="section">
  <header class="postnav">
      {% set previousPost = collections.contribution | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.contribution | getNextCollectionItem(page) %}
      {% if previousPost %}
        <a class="postnav_back" href="{{ previousPost.url | url }}">
          <div class="button">«</div>
          <div class="label">{{ previousPost.data.title }}</div>
        </a>
      {% endif %}
      {% if nextPost %}
      <a class="postnav_next" href="{{ nextPost.url | url }}">
          <div class="button">»</div>
          <div class="label">{{ nextPost.data.title }}</div>
      </a>
      {% endif %}
  </header>
  <div class="column is-8 is-offset-2">
    <div class="content">
      <h1>{{ title }}</h1>
      <p class="byline">
        <em>{{ type | capitalize }}</em><br>
        {% for contributor in contributors %}{% if not loop.first %}, {% endif %}<strong>{{ contributor.name }}</strong>{% endfor %}<br>
        {% if url %}
        <a href="{{ url }}">{{ url }}</a>
        {% endif %}
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content">
        {% if images %}
          <div class="image-grid">
            {% for image in images %}
              <img src="{{ image.src | url }}" alt="{{ image.alt }}"
                {% if image.key %} class="grid-focus"{% endif %}
                {% if image.full %} class="grid-full"{% endif %}
                {% if image.style %} style="{{ image.style }}"{% endif %}
              >
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content">
        {{ content | safe }}

{% if youtube %}
  <div class="responsive-video">
    <iframe 
      src="https://www.youtube.com/embed/{{ youtube }}" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
{% endif %}

{% if vimeo %}
  <div class="responsive-video">
    <iframe 
      src="https://player.vimeo.com/video/{{ vimeo }}" 
      frameborder="0" 
      allow="autoplay; fullscreen; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
{% endif %}

<h2>Contributors</h2>

{% set hasHeadshot = false %}

{% for contributor in contributors %}
  {% if contributor.headshot %}
    {% set hasHeadshot = true %}
  {% endif %}
{% endfor %}

<table class="contributor">
<tbody>
{% for contributor in contributors %}
  <tr>
    {% if hasHeadshot %}
    <td class="headshot">
      {% if contributor.headshot %}
      <img class="headshot-img" src="{{ contributor.headshot | url }}" alt="{{ contributor.name }}">
      {% else %}
      <img class="headshot-img" src="{{ '/images/headshots/placeholder.png' | url }}" alt="placeholder">
      {% endif %}
    </td>
    {% endif %}
    <td class="bio">
      <p><strong>{{ contributor.name }}</strong><br>
      <em>{{ contributor.affiliation }}</em><br>
      <em>{{ contributor.location }}</em></p>
      <p>{{ contributor.bio | safe }}</p>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>


      </div>
    </div>
  </div>  
</section>
{% include "footer.njk" %}
<script src="{{ '/scripts/scripts.js' | url }}"></script>
</body>
</html>