<!DOCTYPE html>
<html lang="en">
<head>
{% include "meta.njk" %}<title>{{title}}</title>
<title>{{title}}</title>
<link rel="stylesheet" href="{{ '/styles/bundle.css' | url}}">
</head>
<body class="home-page has-navbar-fixed-top">
<div class="wave-animation" id="wave-animation"></div>
{% include "navbar.njk" %}
{% include "hero.njk" %}
<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content">
        {{ content | safe }}
      </div>
    </div>
  </div>
</section>
{% include "footer.njk" %}
<script src="{{ '/scripts/scripts.js' | url }}"></script>
<script src="{{ '/scripts/p5.min.js' | url }}"></script>
<script src="{{ '/scripts/wave-animation.js' | url }}"></script>
</body>
</html>