@font-face {
    font-family: 'reforma2018';
    src: url('fonts/reforma2018blanca-webfont.woff2') format('woff2'),
         url('fonts/reforma2018blanca-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'reforma2018';
    src: url('fonts/reforma2018blancaitalica-webfont.woff2') format('woff2'),
         url('fonts/reforma2018blancaitalica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'reforma2018';
    src: url('fonts/reforma2018negra-webfont.woff2') format('woff2'),
         url('fonts/reforma2018negra-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'reforma2018';
    src: url('fonts/reforma2018negraitalica-webfont.woff2') format('woff2'),
         url('fonts/reforma2018negraitalica-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
