@font-face {
    font-family: 'ancho';
    src: url('ancholight-webfont.woff2') format('woff2'),
         url('ancholight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
